html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	outline: 0 none;
	padding: 0;
	margin: 0;
	border: 0;
}
*, *::before, *::after {
	box-sizing: border-box;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	background: transparent;
}
.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: transparent;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url(fonts/Raleway/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: "Raleway-Regular";
  src: url(fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url(fonts/Raleway/Raleway-ExtraLight.ttf);
}
@font-face {
  font-family: "Raleway-Light";
  src: url(fonts/Raleway/Raleway-Light.ttf);
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url(fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url(fonts/Open_Sans/OpenSans-Italic.ttf);
}

html, body {
	width: 100vw;
	height: 100%;
  overflow-x: hidden;
	background: #f5f5f5;
	font-family: "OpenSans-Regular";
	font-size: 1.2vw;
	color: #86878b;
  line-height: 1.7;
}
ul>li {
	list-style: none;
}
h1 {
  font-size: 5vw;
  font-family: "Raleway-ExtraBold";
  color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.5;
}
h1>span {
	color: #ee8337;
	font-family: "Raleway-Regular";
}
h2 {
	font-size: 2.5vw;
	color: #333;
  font-family: "Raleway-Regular";
	margin-bottom: 5px;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5vw;
	color: #333;
  font-family: "OpenSans-Bold";
	font-weight: bold;
}
section {
	padding: 7vw 0;
	position: relative;
}
.flex-parent {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.flex-child {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}
.flex-content {
	margin: auto;
}
.padd {
 padding: 0 2vw;
}
.round {
	border: 2px solid #ff8b38;
	border-radius: 50%;
}
.line {
	width: 6vw;
	height: 2px;
	background: #ee8337;
	margin: 2.5vw 0;
}
#about .line,
#pricing .line,
#reviews .line,
#free .line,
#contact .line {
	margin: 0 auto;
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
}
.caption {
	margin-bottom: 6vw;
}
.download {
	font-family: "OpenSans-Bold";
	display: inline-block;
	margin-top: 3vw;
	margin-bottom: 1vw;
	color: #fff;
	padding: 10px 28px;
	font-size: 1.3vw;
}
.orange {
	background: #ee8337;
	border-radius: 8px;
}
.main-nav {
	background: #000;
	position: relative;
}
.navbar-brand {
	color: #fff;
	font-size: 2.5vw;
	font-family: "Raleway-ExtraBold";
	text-transform: uppercase;
	margin: 1vw 0;
}
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
	color: #fff;
	transform: scale(1.1);
	transition: all 0.6s ease-out 0.1s;
}
.navbar-brand span {
	color: #ee8337;
	font-family: "Raleway-Regular";
}
.navbar-toggle {
	position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  padding: 9px 10px;
  margin: 0;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  width: 30px;
  margin: 6px 0;
  border-radius: 0;
  background: #fff;
}
.nav>li>a {
  padding: 10px 0px;
	width: 100%;
}
.navbar-nav a {
	color: #9a9a9a;
	font-size: 1.2vw;
	font-family: "OpenSans-SemiBold";
	margin: 1vw;
	border-bottom: 1px solid transparent;
}
.navbar-nav a:hover {
  border-bottom: 1px solid #9a9a9a;
}
.banner {
	background: url(../img/banner.png) no-repeat 100% 0%;
	background-size: cover;
	padding: 8vw 0;
}
.banner h2 {
	color: #fff;
}
.slogan p {
	color: rgba(255, 255, 255, 0.8);
}
.banner .download,
#free .download {
	border: 2px solid #fff;
}
.banner .line {
	background: #fff;
}
.form-content {
	width: 60%;
	background: #f5f5f5;
	border-radius: 8px;
	position: relative;
}
.form-content h3 {
	line-height: 3;
	text-align: center;
}
.form-content span {
	color: #ee8337;
}
.form-content form {
	background: #fff;
	border-radius: 0 0 8px 8px;
}
.form-group {
	margin-bottom: 0;
	padding: 6% 0;
}
.form-group [type="password"] {
	margin-bottom: 23%;
}
.form-control {
  display: block;
  width: 80%;
	margin: 0 auto;
  padding: 1.5vw 1vw;
  font-size: 1.1vw;
	background-color: transparent;
	border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
	border-bottom: 1px solid #ccc;
}
.form-control:focus {
  border-color: #ee8337;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #fff;
	font-family: "OpenSans-SemiBold";
  background-color: #ee8337;
  border: none;
  border-radius: 0 0 8px 8px;
  width: 100%;
  line-height: 3;
	font-size: 1.3vw;
	position: absolute;
	left: 0;
	bottom: 0;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #fff;
  background-color: #e7ac81;
  border: none;
	outline: none;
}

#brand-bar {
	padding: 2vw 0;
	background: #fff;
	position: relative;
}
#brand-bar::after {
	content: "";
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0px 0px 31px 9px #d9d2b4;
}
.fa-bar {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.fa {
	color: #ccc;
}
#features {
	padding: 0;
}
#features article {
	padding: 7vw 0;
}
#features article:nth-child(2n) {
	background-color: #fff;
}
#features p {
	margin: 1vw 0;
}
.main-img {
	box-shadow: 0px 20px 50px rgba(86, 83, 76, 0.429);
}
.tabs {
	height: 100%;
	width: 70%;
	text-align: center;
	border-radius: 8px;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.nav-tabs {
	border: none;
	height: 100%;
}
.nav-tabs>li {
	float: none;
	margin-bottom: 1px;
}
.nav-tabs>li:last-child {
	margin-bottom: 0;
}
.tab {
	height: 33.33%;
	background: #333;
	position: relative;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}
.tab.active {
	background: #ee8337;
}
.nav-tabs>li>a {
  margin-right: 0;
  border: none;
  border-radius: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  background-color: transparent;
  border: 1px none;
}
.tab a {
  color: #fff;
}
.tab a:hover,
.tab a:focus,
.tab a:active {
	color: #ff9b51;
}
.feature1 h3 {
	margin-bottom: 4vw;
	margin-top: 1vw;
}
.feature1 .download {
	margin-top: 4vw;
}
#features .arrows p {
	margin: 0;
}
#features .arrows p:nth-child(1) {
	color: #000;
}
.arrows li {
	overflow: hidden;
}
#features .round {
	width: 3vw;
	height: 3vw;
	margin: 0.3vw 3vw 0 0;
	float: left;
	background: no-repeat center;
	background-size: 60%;
}
.info {
	float: right;
	width: calc(100% - 6vw);
}
#about {
	background: #fff;
}
#about .round {
	width: 5vw;
	height: 5vw;
	margin: 0 auto;
	margin-bottom: 2vw;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
#about h3 {
	margin-bottom: 2vw;
}
#pricing .content {
	justify-content: flex-end;
}
.options {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
}
.options .header,
.options .main {
	background: #333;
	color: #fff;
}
.options .header {
	margin-bottom: 1px;
}
.options .header h3 {
	color: #fff;
	line-height: 3.5;
}
.main p:last-child {
	color: #737373;
}
.options .footer {
	background: #ff8b38;
	min-height: 10px;
}
.options .footer p {
	line-height: 3;
	font-size: 1.2vw;
	color: #fff;
	font-family: "OpenSans-SemiBold";
	text-transform: uppercase;
}
.options .main p:last-child {
	font-family: "OpenSans-Italic";
	line-height: 4;
	font-weight: bold;
}
.options .main p:first-child {
	font-size: 7vw;
	font-family: "Raleway-ExtraBold";
	line-height: 1.3;
}
.options .main p:first-child span {
	font-size: 3.3vw;
}
.options .description {
	background: #fff;
}
.panel-group {
  margin-bottom: 0;
}
.panel-group .panel+.panel {
	margin-top: 0;
}
.panel-group .panel {
	border-radius: 0;
}
.panel {
	border-radius: 0;
}
.panel-default {
  border: none;
}
.panel-default>.panel-heading {
  border-bottom: 2px solid #f5f5f5;
  background: #fff;
}
.panel-default>.panel-heading+
.panel-collapse>.panel-body {
	background-color: #eae9e9;
}
.panel-heading {
	padding: 0;
}
.panel-title a {
	text-transform: uppercase;
	line-height: 2.5;
	color: #86878b;
}
.panel-body p {
	font-family: "OpenSans-Italic";
}
#reviews {
	background: #fff;
}
.photo-round {
	width: 5vw;
	height: 5vw;
	background: no-repeat center;
	background-size: cover;
	margin: 2vw;
}
#reviews .description {
	justify-content: flex-start;
	align-items: center;
	margin-top: 2vw;
}
.saying {
	background: #f5f5f5;
	border-radius: 8px;
	padding: 1.5vw 1vw;
	text-align: left;
	position: relative;
	font-family: "OpenSans-Italic";
}
.saying::after {
	content: "";
  position: absolute;
  bottom: -1.5vw;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 2vw solid #f5f5f5;
}
#free {
	background: url(../img/fool-design.png) no-repeat center;
	background-size: cover;
	padding: 5vw 0;
}
#free .caption {
  margin-bottom: 0;
}
#free h2 {
	color: #fff;
}
#free p {
  font-family: "Raleway-Regular";
  color: rgba(255, 255, 255, 0.8);
}
#contact {
	background: #fff;
}
#contact .form-group {
	padding: 5% 0;
}
#contact .btn-default {
	position: relative;
  width: auto;
  border-radius: 8px;
  line-height: 1.7;
  padding: 10px 28px;
}
.area {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;;
}
#contact .area .form-group {
	padding: 5% 0;
	height: 100%;
}
#contact textarea {
	height: 100%;
	padding: 0;
}
.submit {
	margin-top: 3vw;
}
#footer {
	background: #000;
	padding: 20px 0;
}
#footer p {
	color: rgba(255, 255, 255, 0.502);
	font-size: 1vw;
	margin-top: 20px;
}



@media screen and (max-width: 992px) {
	html, body {
    font-size: 1.4vw;
	}
	h3 {
    font-size: 2vw;
	}
	.navbar-nav a {
    font-size: 1.5vw;
	}
	.form-content {
		width: 65%;
	}
	.form-control {
    font-size: 1.5vw;
	}
	.download,
	.btn-default {
    font-size: 1.5vw;
	}
	.feature3 .main-img {
    float: right;
	}
	.main-img {
    max-width: 90%;
	}
	.options .footer p {
		font-size: 1.5vw;
	}
}

@media screen and (max-width: 767px) {
	html, body {
    font-size: 2.3vw;
	}
	h1 {
    font-size: 12vw;
	}
	h2 {
		font-size: 4.5vw
	}
	h3 {
    font-size: 3vw;
	}
	.flex-parent {
		display: block;
	}
	.line {
    width: 15vw;
    margin: 5.5vw 0;
	}
	.download, .btn-default {
    font-size: 2.5vw;
		padding: 7px 25px;
		margin: 6vw 0;
	}
	.caption {
    margin-bottom: 15vw;
	}
	.navbar-brand {
    font-size: 7vw;
		padding: 15px 0;
	}
	.navbar-collapse {
		float: none;
		width: 100%;
		text-align: center;
	}
	.navbar-nav a {
    font-size: 2.5vw;
	}
	.navbar-nav a:hover {
	  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.banner {
    padding: 8vw 10vw 16vw 10vw;
	}
	#brand-bar {
		padding: 2vw 10vw;
	}
	section {
		padding: 7vw 10vw;
	}
	#features article {
		padding: 7vw 10vw;
	}
	.form-content {
    width: 70%;
		margin-top: 30px;
	}
	.form-group {
    padding: 3% 0;
	}
	.form-content .btn-default {
    margin: 0;
	}
	.form-control {
    font-size: 2.2vw;
	}
	#brand-bar .fa-bar {
    margin-top: 2vw;
	}
	.feature1 .flex-child {
    margin: 5vw 0;
	}
	.tabs {
    display: block;
		width: 100%;
	}
	.tab {
		width: calc(33.33% - 1px);
    height: 12vw;
    margin-right: 1px;
	}
	.tab:last-child {
    margin-right: 0;
	}
	.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
	}
	.tabs .nav>li>a {
    padding: 0;
    width: 100%;
    line-height: 12vw;
	}
	.main-img {
    margin: 0 auto;
    margin-bottom: 55px;
		max-width: 100%;
	}
	#features .round {
    width: 7vw;
    height: 7vw;
    margin: 0.3vw 4vw 0 0;
	}
	.feature1 .download {
    margin-bottom: 0;
	}
	.info {
    width: calc(100% - 11vw);
	}
	.arrows>li {
		margin: 20px 0;
	}
	#about .round {
		width: 12vw;
    height: 12vw;
    margin-top: 8vw;
    margin-bottom: 4vw;
	}
	#about .caption {
    margin-bottom: 0vw;
	}
	.options {
		margin-bottom: 40px;
		padding: 0 12vw;
	}
	.options:last-child {
    margin-bottom: 20px;
	}
	.options .main p:first-child {
    font-size: 16vw;
	}
	.options .main p:first-child span {
    font-size: 8.3vw;
	}
	.options .description li {
    line-height: 3.5;
	}
	.options .footer p {
    font-size: 3vw;
	}
	.panel-body p {
    font-size: 2.3vw;
	}
	.saying {
    padding: 4vw;
	}
	.saying::after {
    bottom: -5vw;
    border-left: 3vw solid transparent;
    border-right: 3vw solid transparent;
    border-top: 6vw solid #f5f5f5;
	}
	.photo-round {
    width: 20vw;
    height: 20vw;
		margin-right: 20px;
	}
	#reviews .description {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		margin-top: 6vw;
	}
	.padd {
    padding: 5vw 15px;
	}
	#contact .btn-default {
    margin: 0 auto;
	}
	#footer p {
    font-size: 2vw;
		margin-top: 15px;
	}
}

@media screen and (max-width: 425px) {
	html, body {
    font-size: 4vw;
	}
	h1 {
    font-size: 14vw;
	}
	h2 {
    font-size: 6vw;
	}
	h3 {
    font-size: 5vw;
	}
	.caption {
    padding: 0 15px;
	}
	.download, .btn-default {
    font-size: 4vw;
	}
	.navbar-nav a {
    font-size: 4vw;
	}
	#brand-bar {
		padding: 5vw 0;
	}
	section {
		padding: 15vw 0;
	}
	#features article {
		padding: 10vw 0;
	}
	#features .feature2,
	#features .feature3 {
		padding: 15vw 0;
	}
	.banner {
    padding: 8vw 0 16vw 0;
	}
	.form-content {
    width: 100%;
	}
	.form-control {
    font-size: 3.6vw;
	}
	#brand-bar .fa-bar {
    margin-top: 4vw;
	}
	.tab {
    height: 20vw;
	}
	.tabs .nav>li>a {
    line-height: 20vw;
	}
	#about .round {
    width: 20vw;
    height: 20vw;
	}
	.options {
    padding: 15px;
	}
	.options:last-child {
    margin-bottom: 0;
	}
	.panel-body p {
    font-size: 4vw;
	}
	#footer p {
    font-size: 3vw;
	}
}
